In [21]:
import matplotlib.pyplot as plt
import csv
import pandas as pd
from sqlalchemy import create_engine
import io
from io import StringIO

In [22]:
#path to csv file
netflix_file = "../ETL_Project/netflix_titles.csv"

#Read in csv file using StringIO to separate multiple country values in single cell on the comma
#and create new df to stack the rows 
netflix_df = pd.read_csv(netflix_file)
netflix_df_2 = netflix_df.country.str.split(',').apply(pd.Series, 1).stack()

#drop the index from intial df and join both dfs
netflix_df_2.index = netflix_df_2.index.droplevel(-1)
netflix_df_2.name = 'country'
del netflix_df['country']
netflix_df = netflix_df.join(netflix_df_2)

In [23]:
#removed unnecessary columns
netflix_col=["title", "type", "date_added", "country"]
netflix_transformed=netflix_df[netflix_col].copy()

#count of values in the columns
netflix_transformed.count()

title         7658
type          7658
date_added    7647
country       7182
dtype: int64

In [24]:
#drop rows that do not have a 'country' value
netflix_transformed= netflix_transformed.dropna(subset=['country'])
netflix_transformed.count()

title         7182
type          7182
date_added    7173
country       7182
dtype: int64

In [25]:
#drop rows that do not have a 'date added' value
netflix_transformed= netflix_transformed.dropna(subset=['date_added'])
print(netflix_transformed.count())
netflix_transformed

title         7173
type          7173
date_added    7173
country       7173
dtype: int64

,title,type,date_added,country
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,United States
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,India
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,South Korea
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,China
1,Jandino: Whatever it Takes,Movie,9-Sep-16,United Kingdom
...,...,...,...,...
6218,Talking Tom and Friends,TV Show,"April 10, 2019",Thailand
6219,Pokémon the Series,TV Show,"April 1, 2019",Japan
6220,Justin Time,TV Show,"April 1, 2016",Canada
6221,Terrace House: Boys & Girls in the City,TV Show,"April 1, 2016",Japan
6222,Weeds,TV Show,"April 1, 2014",United States

In [27]:
##
netflix_transformed_US = netflix_transformed.loc[(netflix_transformed["country"]=="United States")]
netflix_transformed_US.count()

title         2296
type          2296
date_added    2296
country       2296
dtype: int64

In [28]:
netflix_transformed_CA = netflix_transformed.loc[(netflix_transformed["country"]== "Canada")]
netflix_transformed_CA.count()

title         206
type          206
date_added    206
country       206
dtype: int64

In [ ]:
# Len_netflix=len(netflix_transformed[4])
# print(Len_netflix)

In [ ]:
# Create a loop for the single entries
# capturelist=[]
# for x in range(len(netflix_transformed)):
#     print((netflix_transformed[x])
#     if len((netflix_transformed["country"])[x])== 1:
#         capturelist.append((netflix_transformed["title"],netflix_transformed["type"],netflix_transformed["date_added"],((netflix_transformed["country"])[x])))
#     else:
#         # Create an inner loop for lists within the csv1
#         for y in (netflix_transformed["country"])[x]:
#             capturelist.append(csv1[x][y])

print(capturelist)

In [ ]:
# countries = netflix_df["country"],netflix_df["country2"],netflix_df["country3"],netflix_df["country4"],\
#              netflix_df["country5"],netflix_df["country6"],netflix_df["country7"],netflix_df["country8"],\
#              netflix_df["country9"],netflix_df["country10"],netflix_df["country11"],netflix_df["country12"]

# for a in netflix_df:
#     if netflix_df["country"]!= "United States":
#         for b in netflix_df:
#             if netflix_df["country2"]!= "United States":
#                 for c in netflix_df:
#                     if netflix_df["country3"]!= "United States":
#                         for c in netflix_df:
#                             if netflix_df["country4"]!= "United States":
#                                 for d in netflix_df:
#                                     if netflix_df["country5"]!= "United States":
#                                         for e in netflix_df:
#                                             if netflix_df["country6"]!= "United States":
#                                                 for f in netflix_df:
#                                                     if netflix_df["country7"]!= "United States":
#                                                         for g in netflix_df:
#                                                             if netflix_df["country8"]!= "United States":
#                                                                 for h in netflix_df:
#                                                                     if netflix_df["country9"]!= "United States":
#                                                                         for i in netflix_df:
#                                                                             if netflix_df["country10"]!= "United States":
#                                                                                 for j in netflix_df:
#                                                                                     if netflix_df["country11"]!= "United States":
#                                                                                         for k in netflix_df:
#                                                                                             if netflix_df["country11"]!= "United States":
#                                                                                                 netlix_df.drop()

In [ ]:
netflix_df = pd.read_csv(netflix_file)
netflix_df.head()