In [1]:
import matplotlib.pyplot as plt
import csv
import pandas as pd
from sqlalchemy import create_engine
import io
from io import StringIO
from datetime import datetime as dt

In [2]:
#path to csv file
netflix_file = "../ETL_Project/netflix_titles.csv"

#Read in csv file  
netflix_df = pd.read_csv(netflix_file)

#split rows that have multiple countries in a single row and stack them into the a new df
netflix_df_2 = netflix_df.country.str.split(',').apply(pd.Series, 1).stack()

#drop the index from intial df and join both dfs
netflix_df_2.index = netflix_df_2.index.droplevel(-1)
netflix_df_2.name = 'country'
del netflix_df['country']
netflix_df = netflix_df.join(netflix_df_2)

In [3]:
#removed unnecessary columns
netflix_col=["title", "type", "date_added", "country", "rating"]
netflix_transformed=netflix_df[netflix_col].copy()

#count of values in the columns
netflix_transformed.count()

title         7658
type          7658
date_added    7647
country       7182
dtype: int64

In [4]:
#drop rows that do not have a value in 'country' column
netflix_transformed= netflix_transformed.dropna(subset=['country'])
netflix_transformed.count()

title         7182
type          7182
date_added    7173
country       7182
dtype: int64

In [5]:
#drop rows that do not have a value in 'date added' column
netflix_transformed= netflix_transformed.dropna(subset=['date_added'])
print(netflix_transformed.count())

#view the df
netflix_transformed

title         7173
type          7173
date_added    7173
country       7173
dtype: int64

,title,type,date_added,country
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,United States
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,India
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,South Korea
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,China
1,Jandino: Whatever it Takes,Movie,9-Sep-16,United Kingdom
...,...,...,...,...
6218,Talking Tom and Friends,TV Show,"April 10, 2019",Thailand
6219,Pokémon the Series,TV Show,"April 1, 2019",Japan
6220,Justin Time,TV Show,"April 1, 2016",Canada
6221,Terrace House: Boys & Girls in the City,TV Show,"April 1, 2016",Japan
6222,Weeds,TV Show,"April 1, 2014",United States

In [6]:
#extract rows that have "United States" in the 'country' column
netflix_transformed_US = netflix_transformed.loc[(netflix_transformed["country"]=="United States")]
netflix_transformed_US.count()

title         2296
type          2296
date_added    2296
country       2296
dtype: int64

In [7]:
#extract rows that have "Canada" in the 'country' column
netflix_transformed_CA = netflix_transformed.loc[(netflix_transformed["country"]== "Canada")]
netflix_transformed_CA.count()

title         206
type          206
date_added    206
country       206
dtype: int64

In [13]:
#####Method 1 ######
# join the United States and Canada dfs
#netflix_transformed = pd.concat([netflix_transformed_US, netflix_transformed_CA], axis=0,join="inner")
# print(netflix_transformed.count())

#####Method 2 ######
#join the United States and Canada dfs
#netflix_transformed = pd.merge(netflix_transformed_US, netflix_transformed_CA, on=["title", "title"], how="outer")
#view the df
#print(netflix_transformed)
#print(netflix_transformed.count())

#######Method 3 #######
#join the United States and Canada dfs
netflix_transformed = netflix_transformed_US.append(netflix_transformed_CA)
print(netflix_transformed)
print(netflix_transformed.count())

                                        title     type       date_added  \
0     Norm of the North: King Sized Adventure    Movie         9-Sep-19
2                          Transformers Prime  TV Show         8-Sep-18
3            Transformers: Robots in Disguise  TV Show         8-Sep-18
4                                #realityhigh    Movie         8-Sep-17
8                                Fire Chasers  TV Show         8-Sep-17
...                                       ...      ...              ...
6188             Roman Empire: Reign of Blood  TV Show    April 5, 2019
6192                        Kim's Convenience  TV Show    April 3, 2019
6208                                Lost Girl  TV Show   April 17, 2016
6209                                Mr. Young  TV Show   April 16, 2019
6220                              Justin Time  TV Show    April 1, 2016

            country
0     United States
2     United States
3     United States
4     United States
8     United States
...             ...
6188         Canada
6192         Canada
6208         Canada
6209         Canada
6220         Canada

[2502 rows x 4 columns]
title         2502
type          2502
date_added    2502
country       2502
dtype: int64

In [14]:
# drop duplicated indexes
netflix_transformed.drop_duplicates(keep='first')


#view the df
print(netflix_transformed)

                                        title     type       date_added  \
0     Norm of the North: King Sized Adventure    Movie         9-Sep-19
2                          Transformers Prime  TV Show         8-Sep-18
3            Transformers: Robots in Disguise  TV Show         8-Sep-18
4                                #realityhigh    Movie         8-Sep-17
8                                Fire Chasers  TV Show         8-Sep-17
...                                       ...      ...              ...
6188             Roman Empire: Reign of Blood  TV Show    April 5, 2019
6192                        Kim's Convenience  TV Show    April 3, 2019
6208                                Lost Girl  TV Show   April 17, 2016
6209                                Mr. Young  TV Show   April 16, 2019
6220                              Justin Time  TV Show    April 1, 2016

            country
0     United States
2     United States
3     United States
4     United States
8     United States
...             ...
6188         Canada
6192         Canada
6208         Canada
6209         Canada
6220         Canada

[2502 rows x 4 columns]

In [17]:
# check for duplicated in Movie titles
netflix_transformed_dups = netflix_transformed.duplicated(subset=['title'])
netflix_transformed_dups

0       False
2       False
3       False
4       False
8       False
        ...
6188    False
6192    False
6208    False
6209    False
6220    False
Length: 2502, dtype: bool

In [19]:
#count of duplicates found
netflix_transformed_dups.loc[(netflix_transformed_dups == True)].count()

9

In [20]:
# Drop rows with Duplicate Movie title
cleaned_netflix_transformed = netflix_transformed.drop_duplicates(subset=["title"], keep='last')
cleaned_netflix_transformed

,title,type,date_added,country
0,Norm of the North: King Sized Adventure,Movie,9-Sep-19,United States
2,Transformers Prime,TV Show,8-Sep-18,United States
3,Transformers: Robots in Disguise,TV Show,8-Sep-18,United States
4,#realityhigh,Movie,8-Sep-17,United States
8,Fire Chasers,TV Show,8-Sep-17,United States
...,...,...,...,...
6188,Roman Empire: Reign of Blood,TV Show,"April 5, 2019",Canada
6192,Kim's Convenience,TV Show,"April 3, 2019",Canada
6208,Lost Girl,TV Show,"April 17, 2016",Canada
6209,Mr. Young,TV Show,"April 16, 2019",Canada
6220,Justin Time,TV Show,"April 1, 2016",Canada

In [ ]:
sub_file = "../ETL_Project/DataNetflixSubscriber.csv"
sub_df = pd.read_csv(sub_file)
sub_df.head()

In [ ]:
cleaned_netflix_transformed = cleaned_netflix_transformed.rename(columns={"date_added": "Years", "type": "Category",})

print(cleaned_netflix_transformed)

In [ ]:
# convert the 'Years' column to datetime format
cleaned_netflix_transformed["Years"]=pd.to_datetime(cleaned_netflix_transformed['Years'])

cleaned_netflix_transformed.info()

In [ ]:
#Using Years
cleaned_netflix_transformed["Years"]=cleaned_netflix_transformed["Years"].dt.strftime("%Y")

cleaned_netflix_transformed.head()

In [ ]:
#filtered dataframe from specific columns
sub_col=["Area","Years","Subscribers"]
sub_transformed= sub_df[sub_col].copy()
print(sub_transformed)

In [ ]:
year_sub=sub_transformed["Years"].str.split(" - ").str[1]
sub_transformed["Years"]=sub_transformed["Years"].str.split(" - ").str[1]
sub_transformed

In [ ]:
#filtering using just United States and Canada

country=sub_transformed.loc[(sub_transformed["Area"]=="United States and Canada")].dropna
country()

In [ ]:
#database connection
connection_string ="postgres:********@localhost:5432/Netflix"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
### Load DataFrames into database
cleaned_netflix_transformed.to_sql(name='netflix', con=engine, if_exists='append', index=True)
sub_transformed.to_sql(name='Subscribers', con=engine, if_exists='append', index=True)

In [ ]:
#Query confirmed through SQL database for neflix 


pd.read_sql_query('select * from netflix', con=engine).head()

In [ ]:
#Query confirmed through SQL database for Netflix subscribers

pd.read_sql_query('select * from Subscribers', con=engine).head()

In [ ]:
#The numbers of subscribers 
num_sub =sub_transformed.groupby("Years")
num_sub

In [ ]:
max_sub = num_sub["Subscribers"].max()
max_sub

In [ ]:
sub_df= pd.DataFrame({"Subscriber Count": max_sub,})
sub_df.head()

In [ ]:
grouped_dm = sub_df.groupby(["Years"]).count()["Subscriber Count"]
grouped_dm

mice_chart= grouped_dm.plot(kind="bar", title= "What year has the most subsribers")
mice_chart.set_xlabel("Years")
mice_chart.set_ylabel("Subscriber Count")
#plt.xlim(-0.10, len(x_axis)-.5)
#plt.ylim(0, max(sub_df["Subscriber Count"])+10)
plt.show()
plt.tight_layout()

In [ ]:
gender_count = sub_df.groupby('Years')
gender_mouse_count = pd.DataFrame(gender_count['Subscriber Count'].count())
gender_mouse_count.head()
gender_mouse_count.plot(kind="pie", y='Subscriber Count', autopct="%1.1f%%", colors = ["lightpink", "lightblue"], shadow=True, legend=False)
plt.axis("equal")
plt.title("Male v. Female Percent")
plt.show()