In [32]:
import pandas as pd
from sqlalchemy import create_engine
import os 
import matplotlib.pyplot as plt
import csv

In [33]:
netflix_file = "../ETL_Project/netflix_titles.csv"
netflix_df = pd.read_csv(netflix_file)
netflix_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China",9-Sep-19,2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,9-Sep-16,2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,8-Sep-18,2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,8-Sep-18,2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,8-Sep-17,2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...

In [35]:
sub_file = "../ETL_Project/DataNetflixSubscriber.csv"
sub_df = pd.read_csv(sub_file)
sub_df.head()

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
0,tt0147800,10 Things I Hate About You,"A pretty, popular teenager can't go out on a d...",movie,PG-13,1999,31-Mar-99,12-Nov-19,97 min,"Comedy, Drama, Romance",Gil Junger,"Karen McCullah, Kirsten Smith","Heath Ledger, Julia Stiles, Joseph Gordon-Levi...","English, French",USA,2 wins & 13 nominations.,70.0,7.3,"283,945"
1,tt7019028,101 Dalmatian Street,This series follows the lives of Delilah and D...,series,NaN,2018–,25-Mar-19,28-Feb-20,NaN,"Animation, Comedy, Family",NaN,NaN,"Josh Brener, Michaela Dietz, Bert Davis, Abiga...",English,"UK, USA, Canada",NaN,NaN,6.2,124
2,tt0115433,101 Dalmatians,An evil high-fashion designer plots to steal D...,movie,G,1996,27-Nov-96,12-Nov-19,103 min,"Adventure, Comedy, Crime, Family",Stephen Herek,"Dodie Smith (novel), John Hughes (screenplay)","Glenn Close, Jeff Daniels, Joely Richardson, J...","English, Spanish","USA, UK",Nominated for 1 Golden Globe. Another 3 wins &...,49.0,5.7,"97,785"
3,tt0324941,101 Dalmatians 2: Patch's London Adventure,"Being one of 101 takes its toll on Patch, who ...",movie,G,2002,21-Jan-03,12-Nov-19,74 min,"Animation, Adventure, Comedy, Family, Musical","Jim Kammerud, Brian Smith","Jim Kammerud (story), Dan Root (story), Garret...","Barry Bostwick, Jason Alexander, Martin Short,...",English,USA,5 wins & 10 nominations.,NaN,5.8,"7,434"
4,tt0211181,102 Dalmatians,Cruella DeVil gets out of prison and goes afte...,movie,G,2000,22-Nov-00,12-Nov-19,100 min,"Adventure, Comedy, Family",Kevin Lima,"Dodie Smith (novel), Kristen Buckley (story), ...","Glenn Close, Gérard Depardieu, Ioan Gruffudd, ...",English,"USA, UK",Nominated for 1 Oscar. Another 1 win & 7 nomin...,35.0,4.9,"33,444"

In [38]:
#filtered dataframe from specific columns
netflix_col=["title","type","release_year"]
netflix_transformed= netflix_df[netflix_col].copy()
print(netflix_transformed)

                                            title     type  release_year
0         Norm of the North: King Sized Adventure    Movie          2019
1                      Jandino: Whatever it Takes    Movie          2016
2                              Transformers Prime  TV Show          2013
3                Transformers: Robots in Disguise  TV Show          2016
4                                    #realityhigh    Movie          2017
...                                           ...      ...           ...
6229                                 Red vs. Blue  TV Show          2015
6230                                        Maron  TV Show          2016
6231       Little Baby Bum: Nursery Rhyme Friends    Movie          2016
6232  A Young Doctor's Notebook and Other Stories  TV Show          2013
6233                                      Friends  TV Show          2003

[6234 rows x 3 columns]

In [40]:
netflix_transformed.drop_duplicates("title", inplace=True)
netflix_transformed.set_index("title", inplace=True)

netflix_transformed.head()

                                            type  release_year
title
Norm of the North: King Sized Adventure    Movie          2019
Jandino: Whatever it Takes                 Movie          2016
Transformers Prime                       TV Show          2013
Transformers: Robots in Disguise         TV Show          2016
#realityhigh                               Movie          2017

In [43]:
#filtered dataframe from specific columns
disney_col=["title","type","year"]
disney_transformed= disney_df[disney_col].copy()
print(disney_transformed)

                                          title    type   year
0                    10 Things I Hate About You   movie   1999
1                          101 Dalmatian Street  series  2018–
2                                101 Dalmatians   movie   1996
3    101 Dalmatians 2: Patch's London Adventure   movie   2002
4                                102 Dalmatians   movie   2000
..                                          ...     ...    ...
987                                      Zapped   movie   2014
988             Zenon: Girl of the 21st Century   movie   1999
989                           Zenon: The Zequel   movie   2001
990                                   Zenon: Z3   movie   2004
991                                    Zootopia   movie   2016

[992 rows x 3 columns]

In [45]:
disney_transformed.drop_duplicates("title", inplace=True)
disney_transformed.set_index("title", inplace=True)

disney_transformed.head()

                                              type   year
title
10 Things I Hate About You                   movie   1999
101 Dalmatian Street                        series  2018–
101 Dalmatians                               movie   1996
101 Dalmatians 2: Patch's London Adventure   movie   2002
102 Dalmatians                               movie   2000